{% extends 'base.html' %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt=""
    width="72" height="57">
  Welcome to my Todo List Web App!<br>
  This app was designed by Itamar Junior as part of my Back-end Development course for my BSc in Computing in the year
  2023.<br>
  I built this project using Bootstrap for the front-end design and Django and Flask with MongoDB, hosted in a cloud
  free server by Atlas, for the back-end development.<br>
  With this app, you can create, read, update, and delete your tasks with ease.<br>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Create an account and start using it now!
    </p>
  </div>
</div>
{% endblock %}