{% extends "base.html" %}

{% block content %}


<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt=""
        width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">Sign up</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
        </p>
        <div class="card shadow m-2 mb-3">

            <div class="card-body">

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
                </div>
                {% endif %}
                {% endwith %}

                <form method="POST" action="/signup">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.email.label }} {{ form.email(class="form-control") }}
                        {% if form.email.errors %}
                        {% for error in form.email.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.name.label }} {{ form.name(class="form-control") }}
                        {% if form.name.errors %}
                        {% for error in form.name.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.password.label }} {{ form.password(class="form-control") }}
                        {% if form.password.errors %}
                        {% for error in form.password.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.confirm_password.label }} {{ form.confirm_password(class="form-control") }}
                        {% if form.confirm_password.errors %}
                        {% for error in form.confirm_password.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-group m-3">
                        <button class="btn btn-primary">Sign Up</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}